#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.terminal {
  /* border: 1px solid #fff; */
  padding: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.command-line-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.command-line-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.command-line {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  /* width: 100%; */
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: 'VT323', monospace;
  line-height: 1.5;
}


.prompt {
  color: chartreuse;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap; /* Prevents line wrapping */
}
